# Docker
docker-compose.override.yml
.netrc
Dockerfile.prod

# Go workspace
_workspace/
pkg/

# The app build from go build
/**/dist/

# App dependencies
vendor/
certs/

# Reporting
reports/
coverage.*

# cache
.cache/
